APP_HOST=0.0.0.0
APP_PORT=8000

CORS_ORIGINS=["http://localhost:3000"]
CORS_ALLOW_METHODS=["GET"]

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=x_api_integration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PROVIDER_X_TWITTERAPI_IO_API_KEY=
PROVIDER_X_TWITTERAPI_IO_BASE_URL=https://api.twitterapi.io